<%- include('./layouts/header.ejs') %>

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1">
			<div class="slick1">
				<div class="item-slick1" style="background-image: url(car/userAssets/images/slide-01.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Men Collection 2023
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									NEW SEASON
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="/productView"
									class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(car/userAssets/images/slide-02.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Men New-Season
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn"
								data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									Rolex & More
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="/productView"
									class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1" style="background-image: url(car/userAssets/images/slide-03.jpg);">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft"
								data-delay="0">
								<span class="ltext-101 cl2 respon2">
									Men Collection 2023
								</span>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight"
								data-delay="800">
								<h2 class="ltext-201 cl2 p-t-19 p-b-43 respon1">
									New arrivals
								</h2>
							</div>

							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="/productView"
									class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-80 p-b-50">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/car/userAssets/images/banner-07.jpg" alt="IMG-BANNER">

						<a href="/productView?category=Analog&sort="
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Analog
								</span>

								<span class="block1-info stext-102 trans-04">
									<% if(Analog.categoryOfferPercentage!==0){ %>
										<%= Analog.categoryOfferPercentage %> % Offer
										<% } %>
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/car/userAssets/images/banner-09.jpg" alt="IMG-BANNER">

						<a href="/productView?category=Digital&sort="
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Digital
								</span>

								<span class="block1-info stext-102 trans-04">
									<% if(Digital.categoryOfferPercentage!==0){ %>
										<%= Digital.categoryOfferPercentage %> % Offer
										<% } %>
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="/car/userAssets/images/banner-08.jpg" alt="IMG-BANNER">

						<a href="/productView?category=Smart&sort="
							class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Smart
								</span>

								<span class="block1-info stext-102 trans-04">
									<% if(Smart.categoryOfferPercentage!==0){ %>
										<%= Smart.categoryOfferPercentage %> % Offer
										<% } %>
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- Product -->
	<div class="bg0 p-t-23 p-b-140">
		<div class="container">

			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>

			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<a href="/productView" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
						All Products
					</a>
					<% if (category && category.length> 0) { %>
						<% category.forEach(singleCategory=> { %>
							<a href="/productView?category=<%= encodeURIComponent(singleCategory.categoryName) %>&sort=<%= currentSort || '' %>&search=<%= search || '' %>" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
								<%= singleCategory.categoryName %>
							</a>
							<% }); %>
								<% } %>

				</div>
				<div class="flex-w flex-c-m m-tb-10">
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Sort
					</div>
					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<form action="/productView" method="GET">
						<div class="bor8 dis-flex p-l-15">
							<button type="submit" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>
							<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search"
								placeholder="Search">
						</div>
					</form>
				</div>


				<!-- Sort -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">

						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By Price
							</div>
							<ul>
								<li class="p-b-6 panel-filter-li">
									<a href="/productView?category=<%= selectedCategory %>&sort=default&search=<%= search || '' %>"
										class="filter-link stext-106 trans-04">
										Default
									</a>
								</li>
								<li class="p-b-6 panel-filter-li">
									<a href="/productView?category=<%= selectedCategory %>&sort=lowtohigh&search=<%= search || '' %>"
										class="filter-link stext-106 trans-04">
										Low to High
									</a>
								</li>
								<li class="p-b-6 panel-filter-li">
									<a href="/productView?category=<%= selectedCategory %>&sort=hightolow&search=<%= search || '' %>"
										class="filter-link stext-106 trans-04">
										High to Low
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div class="row isotope-grid">

				<!-- productView.ejs -->
				<div class="row">
					<% product.forEach(function(item) { %>
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item product-card">
							<div class="block2">
								<div class="block2-pic hov-img0">
									<!-- Display the first cropped image -->
									<a href="/productDetails?id=<%= item._id %>">
										<img src="/car/ProductImages/<%= item.productImage[0] %>" alt="Product Image">
									</a>
									<a href="/productDetails?id=<%= item._id %>"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
										Quick View
									</a>
								</div>
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l">
										<a href="/productDetails?id=<%= item._id %>"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											<%= item.productName %>
										</a>
										<span class="stext-105 cl3">
											<% if(item.productPrice===item.discountedPrice) { %>
												₹<%= item.productPrice %>
													<% }else{ %>
														<del style="color: red;">₹<%= item.productPrice %></del> <span
															style="color: green;">
															<%= item.highestOfferPercentage %>%off
														</span> &nbsp; &nbsp; &nbsp; ₹<%= item.discountedPrice %>
															<% } %>
										</span>
									</div>
									<div class="block2-txt-child2 flex-r p-t-3">
										<!-- Add to wishlist button here if needed -->
									</div>
								</div>
							</div>
						</div>
						<% }); %>
				</div>

			</div>

		</div>
	</div>





	<%- include('./layouts/footer.ejs') %>