<%- include('./layouts/header2.ejs') %>

	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>


	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">

				<div class="col-lg-12 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Offer</th>
									<th class="column-5">Discount Price</th>
								</tr>

								<% if (wishlistItems && wishlistItems.length> 0) { %>
									<% wishlistItems.forEach((item, index)=> { %>

										<tr class="table_row">
											<td class="column-1">
												<div class="how-itemcart1">
													<img src="/car/ProductImages/<%= item.productId.productImage[0] %>" alt="IMG">
												</div>
											</td>
											<td class="column-2"><%=item.productId.productName%></td>
											<td class="column-3">₹ <%=item.productId.productPrice%></td>
											<td class="column-4"><%=item.productId.highestOfferPercentage%> %</td>
											<td class="column-5">₹ <%=item.productId.discountedPrice%></td>
										</tr>
										<% }) %>
											<% } else { %>
												<tr>
													<td></td>
													<td></td>
													<td colspan="5" style="color: red;">Wishlist is Empty</td>

												</tr>
												<% } %>

													<tr class="table_row">
														<td class="column-1">
															<div class="how-itemcart1">
																<img src="/car/userAssets/images/item-cart-05.jpg"
																	alt="IMG">
															</div>
														</td>
														<td class="column-2">Lightweight Jacket</td>
														<td class="column-3">$ 16.00</td>
														<td class="column-4">
															<div class="wrap-num-product flex-w m-l-auto m-r-0">
																<div
																	class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
																	<i class="fs-16 zmdi zmdi-minus"></i>
																</div>

																<input class="mtext-104 cl3 txt-center num-product"
																	type="number" name="num-product2" value="1">

																<div
																	class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
																	<i class="fs-16 zmdi zmdi-plus"></i>
																</div>
															</div>
														</td>
														<td class="column-5">$ 16.00</td>
													</tr>
							</table>
						</div>
					</div>
				</div>

			</div>
		</div>
	</form>

	<%- include('./layouts/footer.ejs') %>