<%- include('./layouts/header.ejs') %>
    <%- include('./layouts/sideBar.ejs') %>
        <%- include('./layouts/navBar.ejs') %>

            <div class="main-panel">
                <div class="content-wrapper">



                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Add New Category</h4>
                                <hr class="white-line">
                                <form class="forms-sample" action="addCategory" method="post"
                                    onsubmit="return validation();">


                                    <div class="form-group  row">
                                        <div class="col-12 col-md-9 mt-2">
                                            <label for="exampleInputName1">Category Name</label>
                                            <input type="text" class="form-control  text-light mb-3 "
                                                name="categoryName" id="categoryName" placeholder="name" required>
                                            <p id="name-error" style="color: red;"></p>
                                            <label for="exampleInputName1">Category Description</label>
                                            <input type="text" class="form-control  text-light "
                                                name="categoryDescription" id="categoryDescription"
                                                placeholder="Description" required style="height: 100px;">
                                            <label class="mt-3" for="exampleInputName1">Category Offer</label>
                                            <input type="text" class="form-control  text-light mb-3 "
                                                name="categoryOfferPercentage" id="categoryOfferPercentage"
                                                placeholder="Offer Percentage">
                                            <p id="offer-error" style="color: red;"></p>
                                            <button type="submit" class="btn btn-lg btn-inverse-primary mr-2 mt-5">Add
                                                Category</button>
                                        </div>
                                    </div>

                                    <% if (typeof message !=='undefined' ) { %>
                                        <p class="successfully">
                                            <%= message %>
                                        </p>
                                        <% } %>

                                </form>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            <script>
                function validation() {
                    const name = document.getElementById('categoryName').value;
                    const offer = document.getElementById("categoryOfferPercentage").value;

                    document.getElementById('name-error').textContent = '';

                    if (!name) {
                        document.getElementById('name-error').textContent = 'Category name should not be empty!';
                        return false;
                    }

                    const regex = /^[a-zA-Z]+$/;

                    if (!regex.test(name)) {
                        document.getElementById('name-error').textContent = 'Category name should contain only alphabetical characters';
                        return false;
                    }

                    const regexOffer = /^\d+(\.\d{1,2})?$/;

                    if (!regexOffer.test(offer)) {
                        document.getElementById('offer-error').textContent = "Stock can only contain numbers, optionally with up to 2 decimal places.";
                        return false;
                    }

                    return true;
                }

            </script>

            <%- include('./layouts/footer.ejs') %>