<%- include('./layouts/header2.ejs') %>


    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
                Cart
            </span>
        </div>
    </div>


    <!-- Shoping Cart -->
    <div class="bg0 p-t-75 p-b-85">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r-25 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">


                            <table class="table-shopping-cart" style="width: 100%; overflow-x: auto;">
                                <thead>

                                    <tr class="table_head">
                                        <th class="column-1">Product</th>
                                        <th class="column-2"></th>
                                        <th class="column-3">Price</th>
                                        <th class="column-4">Quantity</th>
                                        <th class="column-5">Total</th>
                                        <th class="column-5"></th>
                                    </tr>
                                </thead>

                                <tbody>

                                    <% if (cart && cart.length> 0) { %>
                                        <% cart.forEach((data, index)=> { %>

                                            <tr class="table_row">
                                                <td class="column-1">
                                                    <div class="how-itemcart1">
                                                        <img src="/car/ProductImages/<%= data.productId.productImage[0] %>"
                                                            alt="Product Image">
                                                    </div>

                                                </td>
                                                <td class="column-2">
                                                    <%=data.productId.productName%>
                                                </td>
                                                <td class="column-3">₹ <%=data.productId.discountedPrice%>
                                                </td>
                                                <td class="column-4">
                                                    <div class="wrap-num-product flex-w m-l-auto m-r-0">


                                                        <a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m btn"
                                                            onclick="cartCount('<%=data.productId._id%>','<%=userId%>',-1)">-</a>
                                                        <span class="mtext-104 cl3 txt-center num-product p-2"
                                                            id="<%=data.productId._id%>"
                                                            data-price="<%=data.productId.discountedPrice%>">
                                                            <%=data.quantity%>
                                                        </span>
                                                        <a class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m btn "
                                                            onclick="cartCount('<%=data.productId._id%>','<%=userId%>', 1)">+</a>
                                                    </div>
                                                </td>
                                                <td class="column-5" id="subtotal-<%=data.productId._id%>"
                                                    data-price="<%=data.productId.discountedPrice%>">
                                                    ₹ <span id="subtotal-<%=data.productId._id%>">
                                                        <%= (parseFloat(data.productId.discountedPrice) *
                                                            data.quantity).toFixed(2) %>
                                                    </span>
                                                </td>

                                                <td class="product-remove">
                                                    <a class=" btn  text-black "
                                                        onclick="removeProduct('<%=data.productId._id%>')">Remove</a>
                                                </td>
                                            </tr>

                                            <% if (data.quantity> data.productId.productStock) { %>
                                                <tr class="out-of-stock-message">
                                                    <td colspan="5">
                                                        <p class="text-danger">Out of stock: <%=
                                                                data.productId.productName %>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                    <% }) %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td colspan="5" style="color: red;">Cart is empty</td>

                                                            </tr>
                                                            <% } %>
                                </tbody>

                            </table>

                        </div>

                    </div>
                </div>

                <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50 ">
                    <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                        <h4 class="mtext-109 cl2 p-b-30">
                            Cart Totals
                        </h4>

                        <div class="flex-w flex-t bor12 p-b-13">
                            <div class="size-208">
                                <span class="stext-110 cl2">
                                    Subtotal:
                                </span>
                            </div>

                            <div class="size-209">
                                <span class="mtext-110 cl2" id="total">
                                    ₹ <%= total.toFixed(2) %>
                                </span>
                            </div>
                        </div>

                        <div class="flex-w flex-t p-t-27 p-b-33">
                            <div class="size-208">
                                <span class="mtext-101 cl2">
                                    Total:
                                </span>
                            </div>

                            <div class="size-209 p-t-1">
                                <span class="mtext-110 cl2" id="total2">
                                    ₹ <%= total.toFixed(2) %>
                                </span>
                            </div>
                        </div>

                        <% if(cart.length===0){ %>
                            <a href="/productView">
                                <button
                                    class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                    Shop
                                </button>
                            </a>
                            <% }else{ %>
                                <a href="/checkout">
                                    <button
                                        class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                        Proceed to Checkout
                                    </button>
                                </a>
                                <% } %>

                    </div>
                </div>

            </div>
        </div>
    </div>



    <script>

        function removeProduct(proId) {
            // Display a confirmation dialog
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, remove it!'
            }).then((result) => {
                // Check if the user confirmed the action
                if (result.isConfirmed) {
                    // User confirmed, proceed with removal
                    $.ajax({
                        url: '/remove-product',
                        method: 'post',
                        encoded: true,
                        data: {
                            product: proId,
                        },
                    }).done((data) => {
                        if (data.success) {

                            updateTotal();
                            location.reload();

                        } else {
                            // Handle unsuccessful removal
                            Swal.fire(
                                'Error!',
                                'Failed to remove the product.',
                                'error'
                            );
                        }
                    });
                }
                // If the user clicked "Cancel", do nothing
            });
        }




        const updateTotal = () => {
            const totalElement = document.getElementById('total');
            const totalElement2 = document.getElementById('total2');
            const products = document.querySelectorAll('.num-product');

            // Recalculate the total based on all product quantities and update the total element
            let newTotal = 0;

            products.forEach((product) => {
                const discountedPrice = parseFloat(product.dataset.price || 0);
                const productQuantity = parseInt(product.textContent);

                if (isNaN(discountedPrice) || isNaN(productQuantity)) {
                    console.log('Invalid data: discountedPrice=', discountedPrice, 'productQuantity=', productQuantity);
                } else {
                    newTotal += discountedPrice * productQuantity;
                }
            });


            totalElement.textContent = `₹ ${newTotal.toFixed(2)}`;
            totalElement2.textContent = `₹ ${newTotal.toFixed(2)}`;
        };

        const updateSubtotal = (productId, newQuantity) => {
            const subtotalElement = document.getElementById(`subtotal-${productId}`);
            if (subtotalElement) {
                const discountedPrice = parseFloat(subtotalElement.dataset.price || 0);
                const newSubtotal = (discountedPrice * newQuantity).toFixed(2);
                subtotalElement.textContent = `₹ ${newSubtotal}`; // Update the format accordingly
            }
        };



        const cartCount = (productId, userId, count) => {
            $.ajax({
                type: 'POST',
                url: '/cart-quantity', // Replace with your actual endpoint
                data: {
                    product: productId,
                    user: userId,
                    count: count,
                },
                success: function (response) {
                    if (response.changeSuccess) {
                        // Update the quantity on the page
                        const quantityElement = document.getElementById(productId);
                        const currentQuantity = parseInt(quantityElement.textContent);
                        const newQuantity = currentQuantity + count;

                        // Check if the new quantity is greater than or equal to 1 before updating
                        if (newQuantity >= 1) {
                            quantityElement.textContent = newQuantity;

                            // Update the total on the page
                            updateTotal();

                            // Update the subtotal on the page
                            updateSubtotal(productId, newQuantity);
                        } else {
                            // Optionally, display a message or take any other action to indicate the quantity cannot go below 1
                            console.log("Quantity cannot be less than 1");
                        }
                    } else {
                        // Handle unsuccessful response
                    }
                },
                error: function (error) {
                    console.log(error);
                },
            });
        };



    </script>



    <%- include('./layouts/footer.ejs') %>