<%- include('./layouts/header2.ejs') %>



    <div class="container">

        <section class="h-100 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-lg-10 col-xl-8">
                        <div class="card" style="border-radius: 10px;">
                            <div class="card-header px-4 py-5">
                                <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;">
                                        <%= user.firstName %>
                                    </span>!</h5>
                            </div>
                            <div class="card-body p-4">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                                    <!-- <p class="small text-muted mb-0">Receipt Voucher : 1KAU9-84UIL</p> -->
                                </div>


                                <% if (order && order.products && order.products.length> 0) { %>
                                    <% for (let i=0; i < order.products.length; i++) { %>

                                        <div class="card shadow-0 border mb-4">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <img src="/car/productImages/<%= order.products[i].productId.productImage[0] %>"
                                                            class="img-fluid" alt="Phone">
                                                        <p class="text-muted mb-0">
                                                            <%= order.products[i].productId.productName %>
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small"
                                                            id="orderStatus-<%= order.products[i]._id %>">
                                                            <%= order.products[i].status %>
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small">
                                                            <%= order.paymentOption %>
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small">Qty: <%=
                                                                order.products[i].quantity %>
                                                        </p>
                                                    </div>
                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <p class="text-muted mb-0 small">₹<%= order.products[i].price %>
                                                        </p>
                                                    </div>

                                                    <div
                                                        class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                        <% if (order.products[i].orderStatus !=="Cancelled" ) { %>
                                                            <% if (order.products[i].orderStatus=="Delivered" ) { %>
                                                                <a style="color: green;">Delivered</a>
                                                                <% } else{%>

                                                                    <a href="#"
                                                                        onclick="confirmAndCancel('<%= order.products[i]._id %>','<%= order.products[i].price %>')"
                                                                        style="color: red;">Cancel Order</a>

                                                                    <%} %>
                                                                        <% } %>
                                                        <% if (order.products[i].orderStatus ==="Cancelled" ) { %>
                                                            <a style="color: red;">Cancelled</a>
                                                        <% } %>
                                                    </div>

                                                </div>
                                                <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">

                                                <% if (order.products[i].orderStatus ==="Cancelled" ) { %>
                                                    <p style="color: red; text-align: center;">The refunded amount will be credited back to your wallet.</p>
                                                <% } %>

                                                <% if (order.products[i].orderStatus !=="Cancelled" ) { %>
                                                    <% if (order.products[i].orderStatus=="Delivered" ) { %>
                                                    <div class="row d-flex align-items-center"
                                                        id="status-row-<%= order.products[i]._id %>">
                                                        <div class="col-md-2">
                                                            <p class="text-muted mb-0 small">Track Order</p>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="progress"
                                                                style="height: 6px; border-radius: 16px;">
                                                                <div class="progress-bar" role="progressbar"
                                                                    style="width: 100%; border-radius: 16px; background-color: #a8729a;"
                                                                    aria-valuenow="80" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                            </div>
                                                            <div class="d-flex justify-content-around mb-1">
                                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                                                                    Out for
                                                                    delivary</p>
                                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                                                                    Delivered</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } else{%>
                                                        <div class="row d-flex align-items-center"
                                                        id="status-row-<%= order.products[i]._id %>">
                                                        <div class="col-md-2">
                                                            <p class="text-muted mb-0 small">Track Order</p>
                                                        </div>
                                                        <div class="col-md-10">
                                                            <div class="progress"
                                                                style="height: 6px; border-radius: 16px;">
                                                                <div class="progress-bar" role="progressbar"
                                                                    style="width: 65%; border-radius: 16px; background-color: #a8729a;"
                                                                    aria-valuenow="80" aria-valuemin="0"
                                                                    aria-valuemax="100"></div>
                                                            </div>
                                                            <div class="d-flex justify-content-around mb-1">
                                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                                                                    Out for
                                                                    delivary</p>
                                                                <p class="text-muted mt-1 mb-0 small ms-xl-5">
                                                                    Delivered</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }} %>
                                                    

                                            </div>
                                        </div>

                                        <% }}else{ %>
                                            <% } %>


                                                <div class="d-flex justify-content-between pt-2">
                                                    <p class="fw-bold mb-0">Delivary Address</p>
                                                    <p class="text-muted mb-0"><span class="fw-bold me-4"></span>
                                                    </p>
                                                </div>

                                                <div class="d-flex justify-content-between pt-2">
                                                    <p class="text-muted mb-0">
                                                        <%= order.deliveryAddress.state %>
                                                    </p>
                                                    <p class="text-muted mb-0"><span class="fw-bold me-4"></span></p>
                                                </div>

                                                <div class="d-flex justify-content-between">
                                                    <p class="text-muted mb-0">
                                                        <%= order.deliveryAddress.district %>,<%=
                                                                order.deliveryAddress.city %>
                                                    </p>
                                                    <p class="text-muted mb-0"><span class="fw-bold me-4">SubTotal
                                                        </span>
                                                        ₹ <%= order.totalAmount.toLocaleString() %>
                                                    </p>
                                                </div>

                                                <div class="d-flex justify-content-between mb-5">
                                                    <p class="text-muted mb-0">
                                                        <%= order.deliveryAddress.mobile %>
                                                    </p>
                                                    <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery
                                                            Charges</span> Free
                                                    </p>
                                                </div>
                            </div>
                            <div class="card-footer border-0 px-4 py-5"
                                style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                                <h5
                                    class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">
                                    Total
                                    payable: <span class="h2 mb-0 ms-2">₹ <%= order.totalAmount.toLocaleString() %></span></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- Add this line to include Axios in your HTML file -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>

        function confirmAndCancel(productId, productPrice) {
            console.log('Confirm and Cancel function called');

            Swal.fire({
                title: 'Are you sure?',
                text: 'You are about to cancel this order.',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, cancel it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    console.log('Confirmed to cancel order');
                    // Send AJAX request to cancel the order
                    axios.post(`/cancelorder/${productId}`, { productPrice: productPrice })
                        .then(response => {
                            console.log('Cancel order AJAX response:', response);

                            if (response.data.success) {
                                // // Update the DOM to remove the status bar row and cancel td
                                // const statusRow = document.querySelector(`#status-row-${productId}`);
                                // console.log(statusRow);
                                // if (statusRow) {
                                //     statusRow.remove();
                                // }

                                // // Update the order status dynamically
                                // const orderStatusElement = document.querySelector(`#orderStatus-${productId}`);
                                // console.log(orderStatusElement);
                                // if (orderStatusElement) {
                                //     orderStatusElement.textContent = 'Cancelled';
                                // }

                                Swal.fire('Success!', 'Order canceled successfully!', 'success');
                                location.reload();
                            } else {
                                Swal.fire('Error!', 'cannot cancel the order at this stage', 'error');
                            }
                        })
                        .catch(error => {
                            console.error('Error in cancel order AJAX request:', error);
                            Swal.fire('Error!', 'cannot cancel the order at this stage', 'error');
                        });
                }
            });
        }

    </script>

    <%- include('./layouts/footer.ejs') %>