<%- include('./layouts/header2.ejs') %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                <div class="p-l-25 p-r-30 p-lr-0-lg">
                    <div class="wrap-slick3 flex-sb flex-w">
                        <div class="wrap-slick3-dots"></div>
                        <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                        <div class="slick3 gallery-lb">
                            <% product.productImage.forEach(function(image, index) { %>
                                <div class="item-slick3" data-thumb="/car/ProductImages/<%= image %>">
                                    <div class="wrap-pic-w pos-relative main-image-<%= index %>">
                                        <img id="main-img-<%= index %>" src="/car/ProductImages/<%= image %>"
                                            alt="IMG-PRODUCT">
                                        <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                            href="/car/ProductImages/<%= image %>">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
                <div class="p-r-50 p-t-5 p-lr-0-lg">
                    <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                        <%= product.productName %>
                    </h4>

                    <span class="mtext-106 cl2">
                        <% if(product.productPrice===product.discountedPrice) { %>
                            ₹<%= product.productPrice %>
                                <% }else{ %>
                                    <del style="color: red;">₹<%= product.productPrice %></del> <span
                                        style="color: green;">
                                        <%= product.highestOfferPercentage %>%off
                                    </span> &nbsp; &nbsp; &nbsp; ₹<%= product.discountedPrice %>
                                        <% } %>
                    </span>

                    <p class="stext-102 cl3 p-t-23">
                        <%= product.productDescription %>
                    </p>
                    <!--  -->
                    <div class="p-t-33">
                        <!-- <div class="flex-w flex-r-m p-b-10">
                            <div class="size-203 flex-c-m respon6">
                                Size
                            </div>

                            <div class="size-204 respon6-next">
                                <div class="rs1-select2 bor8 bg0">
                                    <select class="js-select2" name="time">
                                        <option>Choose an option</option>
                                        <option>Size S</option>
                                        <option>Size M</option>
                                        <option>Size L</option>
                                        <option>Size XL</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="flex-w flex-r-m p-b-10">
                            <div class="size-203 flex-c-m respon6">
                                Color
                            </div>

                            <div class="size-204 respon6-next">
                                <div class="rs1-select2 bor8 bg0">
                                    <select class="js-select2" name="time">
                                        <option>Choose an option</option>
                                        <option>Red</option>
                                        <option>Blue</option>
                                        <option>White</option>
                                        <option>Grey</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                        </div> -->

                        <div class="flex-w flex-r-m p-b-10">
                            <div class="size-204 flex-w flex-m respon6-next">

                                <!-- <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                    </div>

                                    <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product"
                                        value="1">

                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                    </div>
                                </div> -->

                                <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04"
                                    onclick="addToCart('<%= product._id %>')">
                                    Add to cart
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Add To Wishlist -->
                    <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                        <div class="flex-m bor9 p-r-10 m-r-11">
                            <a href="#"
                                class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                                data-tooltip="Add to Wishlist">
                                <i class="zmdi zmdi-favorite" onclick="addToWishlist('<%= product._id %>')"></i>
                            </a>
                        </div>
                        <span style="color: rgb(100, 142, 202); font-family: Poppins-Regular;">Add To Wishlist</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        // Consolidated zoom function
        const galleryImages = document.querySelectorAll('.slick3 .item-slick3');
        galleryImages.forEach((image, index) => {
            const mainImage = document.querySelector(`.main-image-${index}`);
            const img = document.getElementById(`main-img-${index}`);

            image.addEventListener('mousemove', zoomIn);
            image.addEventListener('mouseleave', zoomOut);

            function zoomIn(event) {
                const boundingRect = mainImage.getBoundingClientRect();
                const mouseX = event.clientX - boundingRect.left;
                const mouseY = event.clientY - boundingRect.top;

                const offsetX = (mouseX / boundingRect.width) * 100;
                const offsetY = (mouseY / boundingRect.height) * 100;

                img.style.transformOrigin = `${offsetX}% ${offsetY}%`;
                img.style.transform = 'scale(2)'; // Adjust the scale factor as desired
            }

            function zoomOut() {
                img.style.transform = 'scale(1)';
            }
        });
    </script>

    <script>
        function addToCart(id) {
            $.ajax({
                url: "/add-to-cart",
                method: "post",
                data: { id: id },
            }).done((data) => {
                if (data.outofstock) {
                    // alert('product is out of stock');
                    Swal.fire('product is out of stock')
                } else if (data.success) {
                    Swal.fire('product added to cart')
                } else if (data.loginRequired) {
                    Swal.fire('Login First')
                } else {
                    Swal("failed to add ")

                }
            }).fail(() => {
                alert('An error occurred');
            });
        }
    </script>
    

    <%- include('./layouts/footer.ejs') %>