<%- include('./layouts/header.ejs') %>

	<!-- Product -->
	<div class="bg0 m-t-70 p-b-140">
		<div class="container  pt-5 mt-5">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<a href="/productView" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
						All Products
					</a>
					<% if (category && category.length> 0) { %>
						<% category.forEach(singleCategory=> { %>
							<a href="/productView/sorted?category=<%= singleCategory._id %>" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5">
								<%= singleCategory.categoryName %>
							</a>
							<% }); %>
								<% } %>
				</div>
				<div class="flex-w flex-c-m m-tb-10">
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Sort
					</div>
					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>
						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product"
							placeholder="Search">
					</div>
				</div>

				<!-- Sort -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">

						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By Price
							</div>
							<ul>
								<li class="p-b-6 panel-filter-li">
									<a href="/productView/sorted?sort=default" class="filter-link stext-106 trans-04">
										Default
									</a>
								</li>
								<li class="p-b-6 panel-filter-li">
									<a href="/productView/sorted?sort=lowToHigh" class="filter-link stext-106 trans-04">
										Low to High
									</a>
								</li>
								<li class="p-b-6 panel-filter-li">
									<a href="/productView/sorted?sort=highToLow" class="filter-link stext-106 trans-04">
										High to Low
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
			</div>

			<div class="row isotope-grid">

				<!-- productView.ejs -->
				<div class="row">
					<% product.forEach(function(item) { %>
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item product-card">
							<div class="block2">
								<div class="block2-pic hov-img0">
									<!-- Display the first cropped image -->
									<img src="/car/ProductImages/<%= item.productImage[0] %>" alt="Product Image">
									<a href="/product/<%= item._id %>"
										class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
										Quick View
									</a>
								</div>
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l">
										<a href="/productDetails?id=<%= item._id %>"
											class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											<%= item.productName %>
										</a>
										<span class="stext-105 cl3">
											₹<%= item.productPrice %>
										</span>
									</div>
									<div class="block2-txt-child2 flex-r p-t-3">
										<!-- Add to wishlist button here if needed -->
									</div>
								</div>
							</div>
						</div>
						<% }); %>
				</div>

			</div>

		</div>
	</div>


	<%- include('./layouts/footer.ejs') %>