<%- include('./layouts/header2.ejs') %>

    <style>
        .addWal {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            /* or use "space-around" or "space-evenly" for additional spacing */
        }

        .cardo {
            width: 390px;
            border-radius: 7px;
            background: #F3F3F9;
            cursor: pointer;
            height: 86px;
            border-radius: 7px;
            background: #F3F3F9;
            cursor: pointer;
            height: 86px;
        }
    </style>

    <link rel="stylesheet" href="/car/userAssets/css/profile.css">


    <main class="main">
        <div class="page-header text-center">
            <div class="container">
                <h1 class="page-title text-dark">My Account</h1>
                <% if(error){ %>
                    <div class="alert alert-danger" role="alert">
                        <%= error %>
                    </div>
                    <% } %>
            </div>
        </div>

        <!-- breadcrumb -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <!-- <li class="breadcrumb-item " aria-current="page">My Account</li> -->
                    <li class="breadcrumb-item"><a href="/userProfile">My Account</a></li>
                </ol>
            </div>
        </nav>

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">

                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                        href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                        aria-selected="true">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                        role="tab" aria-controls="tab-account" aria-selected="false">Edit Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="Change-Password-link" data-toggle="tab"
                                        href="#Change-Password" role="tab" aria-controls="Change-Password"
                                        aria-selected="false">Change Password</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-order-link" data-toggle="tab" href="#tab-order"
                                        role="tab" aria-controls="tab-order" aria-selected="false">My Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                        role="tab" aria-controls="tab-address" aria-selected="false">Manage
                                        Addresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-wallet-link" data-toggle="tab" href="#tab-wallet"
                                        role="tab" aria-controls="tab-wallet" aria-selected="false">Wallet</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a class="nav-link" href="/profile/coupons">Coupons</a>
                                </li> -->
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Sign Out</a>
                                </li>
                            </ul>
                        </aside><!-- End .col-lg-3 -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">

                                <!-- MY PROFILE -->
                                <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                    aria-labelledby="tab-dashboard-link">
                                    <h6>My Profile</h6>

                                    <form action="#">
                                        <label>Your Referal Link (Refer to your friends and earn money)</label>
                                        <input type="email" class="form-control" value="<%= user.referalCode %>"
                                            disabled>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" value="<%=user.firstName %>"
                                                    disabled>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" value="<%=user.lastName %>"
                                                    disabled>
                                            </div>
                                        </div>

                                        <label>Email address</label>
                                        <input type="email" class="form-control" value="<%= user.email %>" disabled>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Mobile Number</label>
                                                <input type="tel" class="form-control" value="<%= user.mobileno %>"
                                                    name="pincode" disabled>
                                            </div>
                                        </div>
                                    </form>
                                </div><!-- END MY PROFILE -->

                                <!-- EDIT PROFILE -->
                                <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                    aria-labelledby="tab-account-link">
                                    <h6>Edit Profile</h6>

                                    <form action="/updateUser" method="post" onsubmit="return validEditProfile()">
                                        <div class="row">
                                            <!-- First Name -->
                                            <div class="col-sm-6">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" name="EPFname" id="EPFname"
                                                    value="<%=user.firstName %>">
                                                <span id="EPFnameError" class="text-danger"></span>
                                            </div>
                                            <!-- Last Name -->
                                            <div class="col-sm-6">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" name="EPLname" id="EPLname"
                                                    value="<%=user.lastName %>">
                                                <span id="EPLnameError" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <!-- Email and Mobile Number -->
                                        <input type="email" class="form-control" name="EPemail"
                                            value="<%= user.email %>" disabled>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Mobile Number</label>
                                                <input type="text" class="form-control" name="EPmobile" id="EPmobile"
                                                    value="<%= user.mobileno %>" name="pincode">
                                                <span id="EPmobileError" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>Save Changes</span>
                                        </button>
                                    </form>

                                </div><!-- END EDIT PROFILE -->

                                <!-- CHANGE PASSWORD -->
                                <div class="tab-pane fade" id="Change-Password" role="tabpanel"
                                    aria-labelledby="Change-Password-link">
                                    <h6>Change Password</h6>

                                    <form id="passwordChangeForm" action="/resetPassword" method="post"
                                        onsubmit="return validatePasswords()">
                                        <div class="form-group">
                                            <div class="row">
                                                <!-- Current Password -->
                                                <div class="col-sm-6">
                                                    <label>Current Password</label>
                                                    <input type="password" name="oldPassword" class="form-control"
                                                        id="oldPassword">
                                                    <span id="current-password-error" class="text-danger"></span>
                                                    <span id="oldPasswordError" class="text-danger"></span>
                                                </div><!-- End .col-sm-6 -->
                                                <!-- New Password -->
                                                <div class="col-sm-6">
                                                    <label>Create New Password</label>
                                                    <input type="password" name="newPassword" class="form-control"
                                                        id="newPassword">
                                                    <span id="new-password-error" class="text-danger"></span>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <!-- Confirm Password -->
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Confirm Password</label>
                                                    <input type="password" name="confirmPassword" class="form-control"
                                                        id="confirmPassword">
                                                    <span id="confirm-password-error" class="text-danger"></span>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->
                                            <button type="button" class="btn btn-outline-primary-2"
                                                onclick="changePassword()">
                                                <span>Save Changes</span>
                                            </button>
                                        </div>
                                    </form>
                                </div><!-- END CHANGE PASSWORD -->


                                <!-- MY ORDERS -->
                                <div class="tab-pane fade" id="tab-order" role="tabpanel"
                                    aria-labelledby="tab-order-link">
                                    <!-- <h6 class="text-center fs-1 font-monospace text-decoration-underline">My Orders</h6> -->

                                    <table class="table table-hover table-secondary">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Order ID</th>
                                                <th>Order Date</th>
                                                <th>Expected Delivery</th>
                                                <th>Total Amount</th>
                                                <th>Order Details</th>
                                                <th>Download</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Loop through user's orders and generate table rows -->
                                            <% if (orders && orders.length> 0) { %>
                                                <% orders.forEach(order=> { %>
                                                    <tr class="text-center" onclick="window.location='/orderdetails/<%= order._id %>'">
                                                        <td>
                                                            <%= order._id %>
                                                        </td>
                                                        <td>
                                                            <%= order.orderDate.toDateString() %>
                                                        </td>
                                                        <td>
                                                            <%= order.expectedDelivery.toDateString() %>
                                                        </td>
                                                        <td>
                                                            ₹ <%= order.totalAmount %>
                                                        </td>
                                                        <td>
                                                            <a href="/orderdetails/<%= order._id %>"
                                                                class="btn-small d-block">View</a>
                                                        </td>
                                                        <td>
                                                            <a href="/invoice?orderId=<%= order._id %>"
                                                                class="btn-small d-block">Invoice</a>
                                                        </td>
                                                    </tr>
                                                    <% }); %>
                                                        <% } else { %>
                                                            <tr class="text-center">
                                                                <td colspan="5">No orders found.
                                                                </td>
                                                            </tr>
                                                            <% } %>
                                        </tbody>
                                    </table>
                                </div><!-- END MY ORDERS -->

                                <!-- MANAGE ADDRESS -->
                                <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                    aria-labelledby="tab-address-link">

                                    <a href="/address">
                                        <div class="card col-md-5 col-10 m-2 shadow-sm" id="addressDiv"
                                            style="border-radius: 7px; background: #F3F3F9; cursor: pointer;  height: 86px;">
                                            <div class="card-body" style="height: 190px;">
                                                <div class="d-flex justify-content-center mt-1 py-4">

                                                    <h5 class="m-0 align-self-center" style="font-weight: 300;">Add New
                                                        Address</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                    <div class="row">
                                        <% if (address) { %>
                                            <% for (let i=0; i < address.address.length; i++) { %>
                                                <div class="col-md-6 col-12 mb-3 mt-3">
                                                    <div class="card p-4"
                                                        style="background: #F3F3F9; border-radius: 10px;">
                                                        <div class="card-body">
                                                            <h6 class="card-title" style="font-size: 15px;">
                                                                <%= address.address[i].fullName %>
                                                            </h6>
                                                            <p class="card-text mt-3">
                                                                Number: <%= address.address[i].mobile %>
                                                            </p>
                                                            <p class="card-text">
                                                                Location: <%= address.address[i].state %>, <%=
                                                                        address.address[i].district %>, <%=
                                                                            address.address[i].city %>
                                                            </p>
                                                            <p class="card-text">
                                                                Pincode: <%= address.address[i].pincode %>
                                                            </p>

                                                            <hr class="my-3">
                                                            <div class="d-flex justify-content-between">
                                                                <a href="/editAddress?id=<%= address.address[i]._id %>">
                                                                    <button class="btn btn-outline-primary-2"
                                                                        type="button" id="editBTN"
                                                                        data-bs-toggle="modal" data-bs-target="">
                                                                        Edit
                                                                    </button>
                                                                </a>
                                                                <a
                                                                    onclick="removeAddress('<%=address.address[i]._id%>')">
                                                                    <button class="btn btn-outline-primary-2"
                                                                        type="button" data-bs-toggle="modal"
                                                                        data-bs-target="">
                                                                        Remove
                                                                    </button>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% } else { %>
                                                        <% } %>
                                    </div>
                                </div><!-- END MANAGE ADDRESS -->


                                <!-- WALLET -->
                                <div class="tab-pane fade" id="tab-wallet" role="tabpanel"
                                    aria-labelledby="tab-wallet-link">
                                    <div class="addWal">
                                        <a href="/wallet">
                                            <div class="card cardo shadow-sm" id="walletDiv">
                                                <div class="card-body" style="height: 190px;">
                                                    <div class="d-flex justify-content-center mt-1 py-4">

                                                        <h5 class="m-0 align-self-center" style="font-weight: 300;">Add
                                                            Into Wallet</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>

                                        <div class="card cardo shadow-sm">
                                            <div class="card-body" style="height: 190px;">
                                                <div class="d-flex justify-content-center mt-1 py-4">
                                                    <% if (wallet) { %>
                                                        <h5 class="m-0 align-self-center" style="font-weight: 300;">
                                                            Total Amount:
                                                            <%= wallet.totalAmount %>
                                                        </h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <% for (let i= wallet.walletHistory.length -1; i >= 0; i--) { %>
                                            <div class="col-md-6 col-12 mb-3 mt-3">
                                                <div class="card p-4" style="background: #F3F3F9; border-radius: 10px;">
                                                    <div class="card-body">
                                                        <h6 class="card-title" style="font-size: 15px;">
                                                            Transaction Amount: <%=
                                                                wallet.walletHistory[i].transactionAmount %>
                                                        </h6>
                                                        <p class="card-text mt-3">
                                                            transactionId: <%= wallet.walletHistory[i].transactionId %>
                                                        </p>

                                                        <% if(wallet.walletHistory[i].transactionType==='credit' ){ %>
                                                            <p class="card-text">
                                                                transactionType: <span style="color: green;"><%=
                                                                    wallet.walletHistory[i].transactionType %></span>
                                                            </p>
                                                        <% }else{ %>
                                                            <p class="card-text">
                                                                transactionType: <span style="color: red;"><%=
                                                                    wallet.walletHistory[i].transactionType %></span>
                                                            </p>
                                                        <% } %>

                                                        <p class="card-text">
                                                            transactionDate: <%=
                                                                wallet.walletHistory[i].transactionDate %>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <% } else { %>
                                                    <% } %>
                                    </div>
                                </div><!-- END WALLET -->

                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <script>
        function validatePasswords() {
            const currentPassword = document.querySelector('input[name="oldPassword"]').value;
            const newPassword = document.querySelector('input[name="newPassword"]').value;
            const confirmPassword = document.querySelector('input[name="confirmPassword"]').value;

            const passwordRegex = /^(?=.*[!@#$%^&*]).{6,}$/;

            if (!currentPassword || !passwordRegex.test(currentPassword)) {
                document.getElementById('current-password-error').textContent = 'Current password must be at least 6 characters and contain a special character.';
                return false;
            }

            if (!newPassword || !passwordRegex.test(newPassword)) {
                document.getElementById('new-password-error').textContent = 'New password must be at least 6 characters and contain a special character.';
                return false;
            }

            if (newPassword !== confirmPassword) {
                document.getElementById('confirm-password-error').textContent = 'Passwords do not match.';
                return false;
            }

            return true;
        }


        async function changePassword() {
            if (!validatePasswords()) {
                // Password validation failed, do not proceed with changing the password
                return;
            }

            const oldPassword = document.getElementById('oldPassword').value;
            const newPassword = document.getElementById('newPassword').value;

            try {
                const response = await fetch('/profileResetPassword', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ oldPassword, newPassword }),
                });

                const data = await response.json();

                if (data.success) {
                    // Password changed successfully, you may redirect or update UI accordingly.
                    window.location.href = '/userProfile';
                } else {
                    // Display error message to the user.
                    document.getElementById('oldPasswordError').innerText = data.message;
                }
            } catch (error) {
                console.error('Error:', error);
            }
        }

        window.onload = function () {
            const editForm = document.querySelector('form[action="/updateUser"]');
            const resetPasswordForm = document.querySelector('form[action="/resetPassword"]');

            editForm.onsubmit = function () {
                return validEditProfile();
            };

            resetPasswordForm.onsubmit = function () {
                // Prevent the default form submission
                return false;
            };

            // Optionally, you can submit the form explicitly when clicking the button
            const changePasswordBtn = document.getElementById('changePasswordBtn');
            if (changePasswordBtn) {
                changePasswordBtn.addEventListener('click', function () {
                    changePassword();
                    resetPasswordForm.submit(); // Explicitly submit the form after handling with JavaScript
                });
            }
        };

        function removeAddress(id) {
            $.ajax({
                url: '/deleteAddress',
                method: 'delete',
                data: { id },
                success: (response) => {
                    if (response.remove == 1) {
                        Swal.fire({
                            title: 'Success!',
                            text: 'Address removed!',
                            icon: 'success',
                            timer: 2000,
                        }).then(() => {
                            location.reload();
                        });
                    }
                },
            });
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get the active tab from local storage
            const activeTab = localStorage.getItem("activeTab");

            // Set the active tab if it exists
            if (activeTab) {
                const tabElement = document.querySelector(`.nav-link[href="${activeTab}"]`);
                if (tabElement) {
                    tabElement.click();
                }
            }

            // Listen for tab clicks and update local storage
            const tabLinks = document.querySelectorAll('.nav-link[data-toggle="tab"]');
            tabLinks.forEach(function (tabLink) {
                tabLink.addEventListener("click", function () {
                    localStorage.setItem("activeTab", this.getAttribute("href"));
                });
            });
        });
    </script>

    <%- include('./layouts/footer.ejs') %>